.jumbotron
{
    background-color:  #252932;
    color: white;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px;
    color: red;
    background-color:  #252932;
    margin-bottom:  0px;
    margin-top: 10px;
}
.footer-address-icon{
    padding-right: 10px;
}
#redes {
    width: 30px;
    height: 20;

}
.tab-content{
    padding-top: 10px;
}